
/* GLOBAL ================================= */

:root {
    --dark-blue: #363f5f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

/* TITLES ================================= */

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: normal;
}

/* HEADER ================================= */

header {
    background-color: #2d4a22;
    padding: 2rem 0 10rem;
    text-align: center;
}

header h1#logo {
    color: #fff;
    font-weight: 100;
}

/* Balance ================================= */

#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: #fff;
    margin-top: 0;
}

/* Cards ================================= */

.card {
    background: rgba( 255, 255, 255, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.card.total {
    background: rgba( 73, 170, 38, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    color: #fff;
}

/* Table ================================= */

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
}

table td {
    background: white;
}

/* Footer ================================= */

footer {
    text-align: center;
}